<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1>FitLog</h1>
        <a href="perfil.html" id="usuarioLink" target="_self"><img src="" alt="perfil do usuário"></a>
    </header>

    <main>
        <!-- Os treinos serão cadastrados pelo usuário -->
        <div id="treinosDiv">
            <h2>Treinos</h2>
            <button id="exibirTreino">Exibir</button>
            <div class="content" id="treinoConteudo"></div>
            <button id="adicionarButton">Registrar exercício</button>
        </div>

        <!-- As metasserão sugeridas pelo proprio app -->
        <div id="metasDiv">
            <h2>Metas</h2>
        </div>
        
        <!-- Os graficos devem ser exibidos com base no histórico do usuário -->
        <div id="graficosDiv">
            <h2>Gráficos</h2>
        </div>
    </main>
    
    <footer>

    </footer>
    <script src="/mainScript.js" type="module"></script>
</body>
</html>