<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>FitLog</h1>
        <a href="" id="githubLink"><img src="" alt=""></a>
    </header>

    <main>
        <form action="/cadastrarUsuario" method="post">
            <label for="nomeInput">Nome:</label>
            <input type="text" id="nomeInput" name="nomeInput">

            <label for="idadeInput">Idade:</label>
            <input type="number" id="idadeInput" name="idadeInput">

            <label for="pesoInput">Peso: </label>
            <input type="number" id="pesoInput" name="pesoInput">

            <label for="alturaInput">Altura:</label>
            <input type="number" id="alturaInput" name="alturaInput">

            <label for="senhaInput">Senha: </label>
            <input type="password" id="senhaInput" name="senhaInput">

            <button type="submit">Cadastrar</button>
        </form>
    </main>
    
    <footer>

    </footer>
</body>
</html>