<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="../../index.html">
            <h1>FitLog</h1>
        </a>
        <a href="" id="githubLink"><img src="" alt=""></a>
    </header>

    <main>
        <form action="/mudarSenha" method="post">
            <label for="nomeSenhaInput">Nome:</label>
            <input type="text" id="nomeSenhaInput" name="nomeSenhaInput">

            <label for="mudarSenhaInput">Nova senha: </label>
            <input type="password" id="mudarSenhaInput" name="mudarSenhaInput">

            <button type="submit">Alterar</button>
        </form>
    </main>
    
    <footer>

    </footer>
    <script src="/mainScript.js" type="module"></script>
</body>
</html>