<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/perfil.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../assets/icons8-user-30.png" alt="Foto de perfil">
        <a href="base.html">
            <h1>FitLog</h1>
        </a>
    </header>

    <main>
        <div id="dadosDiv">
            <ul>
                <li><strong>Nome:</strong> <span id="nomeUsuario"></span></li>
                <li><strong>Idade:</strong> <span id="idadeUsuario"></span></li>
                <li><strong>Peso:</strong> <span id="pesoUsuario"></span></li>
                <li><strong>Altura:</strong> <span id="alturaUsuario"></span></li>
                <li><strong>IMC:</strong><span id="imcUsuario"></span></li>
            </ul>
        </div>

        <!-- Fotos dos usuarios -->
        <div id="registrosDiv">
            <h2>Evolução pessoal</h2>
            <div class="content"></div>
            <button id="adicionarButton">Adicionar registro</button>
        </div>
        
    </main>
    
    <footer>

    </footer>
    <script src="/mainScript.js" type="module"></script>
</body>
</html>